<!DOCTYPE html>
<html lang="en">

<head>
  {% include "header.html" %}
  <title>Document</title>
</head>

<body>
  <a href="/new_quiz.html">New Quiz</a>
  <br>
  <a href="/quizlist">List Quizzes</a>
</body>

</html>