<!DOCTYPE html>
<html lang="en">

<head>
  {% include "header.html" %}
  <title>Document</title>
</head>

<body>

  <a href="http://localhost:8000/q/{{quiz.shortcode}}">Link to quiz</a>
  <br>
  <a href="/quiz/questions/{{quiz.shortcode}}">View Questions</a>

  <h2>Scores</h2>
  <table class="quiz-score-table">
    <thead>
      <th>User</th>
      <th>Score</th>
    </thead>
    <tbody>
      {% for score in scores %}
      <tr>
        <td><a href="/quiz/submission/{{score.submission.quizSubmissionId}}">{{score.submission.identity}}</a></td>
        <td class="quiz-score-total">{{score.totalCorrect}}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tr>

    </tr>
    </div>

</body>

</html>