<!DOCTYPE html>
<html lang="en">

<head>
  {% include "header.html" %}
  <title>Document</title>
</head>

<body>
  <form method="POST" action="/submit_identity">
    <input type="hidden" value="{{quiz_shortcode}}" name="quiz_shortcode">
    <label>Your Name or Email <input type="text" placeholder="Identity" name="identity"></label>
    <input type="submit" value="Begin Quiz">
  </form>

</body>

</html>