<!DOCTYPE html>
<html lang="en">

<head>
  {% include "header.html" %}
  <title>Document</title>
</head>

<body>
  <form method="POST" action="/submit_quiz">
    <input type="hidden" value="{{quizId}}" name="quiz_id">
    <div class="quiz-detail-grid">
      <div class="bold">Open Date:</div>
      <div>{{openDate}}</div>

      <div class="bold">Close Date:</div>
      <div>{{closeDate}}</div>

      <div class="bold">Duration:</div>
      <div>{{duration | int / 60}}</div>
    </div>
      {% for question in questions %}
      <p><strong>Question {{loop.index}}</strong></p>

      <p>{{question.questionData}}</p>

      {% for option in question.options %}
        {% if option.optionType == "MultiChoice" %}
          <div>
            <label>
                {{option.optionData}}
                <input type="checkbox" value="{{question.quizQuestionId}}_{{option.quizOptionId}}" name="answer">
            </label>
          </div>
        {% elif option.optionType == "SingleChoice" %}
          <div>
            <label class="choice">
            <input type="radio" value="{{question.quizQuestionId}}_{{option.quizOptionId}}"
                    name="answer-{{question.quizQuestionId}}">
            <div>{{option.optionData}}</div>
            </label>
          </div>
        {% endif %}
      {% endfor %}
      {% endfor %}
    <input type="submit" value="Submit">
  </form>

</body>

</html>